#mainHeader{
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: aquamarine;
}

#barreNav{
    display: grid;
    grid-template-columns: 80px 1fr 40px;
}

#mainNav{
    background-color: white;
    position: static;
    width: 100%;
    top: 40px;
    padding-bottom: 10px;
    display: ;
    
}

#mainNav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#mainNav a{
    color: var(--white);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    display: block;
    padding: 0 10px;
}

#menuToggle{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

#menuToggle img{
    width: 40px;
    height: 40px;
}

#galleryContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s; /* Chapitre 9 cours 6 */
}

#galleryContainer img{
    border: solid 5px var(--white);
    max-width: 80%;
    width: auto;
}

#galleryContainer.visible{
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width: 768px){
    #menuToggle{
        display: none;
    }

    #mainNav{
        position: static;
        background-color: white;
        display: block;
    }

    #main ul{
        flex-direction: column;
    }

}

@media screen and (min-width: 1024px){
    
}

@media screen and (min-width: 1200px){
    
}